<div class="content" *ngIf="authService.isUser()">
  <mat-form-field appearance="fill">
    <mat-label>Select Calendar</mat-label>
    <mat-select *ngIf="calendars" placeholder="Select calendar">
      <mat-select-trigger>
        <mat-icon>today</mat-icon>
        {{selected_cal.summary}}
      </mat-select-trigger>
      <mat-option *ngFor="let calendar of calendars" (click)="set_cal(calendar)" value="{{calendar.etaq}}"
        selected="calendar == selected_cal">
        <mat-icon>today</mat-icon>
        {{calendar.summary}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button mat-color="accent" (click)="get_events()">Get events</button>

  <mat-card *ngif="events">
    <mat-list-item *ngFor="let event of events">
      <div class="event">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <div>
          <div mat-line>{{event.summary}}</div>
          <div mat-line> {{event.start.dateTime | date }} </div>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-card>
</div>

<div style="height: 70vh;" class="loader" *ngIf="!authService.isUser()">
  <div class="loader-icon">
    <div class="loader-inner"></div>
  </div>
</div>

<!--FILLER-->
