<form>

  <mat-form-field appearance="fill" floatLabel>
    <mat-label>Event name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel>
    <mat-label>Start date</mat-label>
    <input matInput [matDatepicker]="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker touchUi="mobile" #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel>
    <mat-label>End date</mat-label>
    <input matInput [matDatepicker]="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker touchUi="mobile" #endDate></mat-datepicker>
  </mat-form-field>

</form>

<div style="height: 70vh;"></div>
