<app-user-info></app-user-info>
<mat-divider></mat-divider>

<mat-list>
  <div mat-subheader>Folders</div>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Lorem Ipsum</div>
    <div mat-line>dolor sit amet</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Lorem Ipsum</div>
    <div mat-line>dolor sit amet</div>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>Lorem Ipsum</div>
    <div mat-line>dolor sit amet</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Notes</div>
  <mat-list-item>
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>Lorem Ipsum</div>
    <div mat-line>Dolor sit amet</div>
  </mat-list-item>
</mat-list>
