<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" hasBackdrop="false" opened="true">
    <div class="user-info" *ngIf="user">
      <img src="{{ user.photoUrl }}">
        <div>
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
        </div>
    </div>

    <button mat-fab (click)="handleLogin()"><mat-icon>login</mat-icon></button>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
