<mat-drawer-container class="container">
  <mat-drawer #drawer mode="side" hasBackdrop="false">
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Custom Toolbar</span>
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-auth-page></app-auth-page>

    <div style="height:88vh"></div><!--FILLER -->
  </mat-drawer-content>
</mat-drawer-container>
