.small {
  .mat-drawer {
    min-width: 80%;
    position: fixed;
  }
}

.large {
  .mat-drawer {
    min-width: 300px;
    position: fixed;
  }
}

.mat-drawer-content {
  min-height: 100vh;
  overflow: hidden;

  mat-toolbar {
    position: fixed;
    z-index: 100;
  }

  .body-wrapper {
    position: relative;
    top: 65px;
    margin-bottom: 70px;
  }
}

.body-wrapper {
  padding: 16px;
}

mat-list {

  mat-icon {
    margin-right: .5em;
  }

  .active {
    font-weight: bold;
  }

}


.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {

  img {
    height: 70%;
    width: auto;
    border-radius: 100%;
    margin-right: .5em;
  }

  mat-slide-toggle {
    margin-left: .5em;
  }
}

