
.mat-drawer {
  min-width: 300px;
}

.body-wrapper {
  padding: 16px;
}

mat-list {

  mat-icon {
    margin-right: .5em;
  }

  .active {
    font-weight: bold;
  }

}


.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {

  img {
    height: 70%;
    width: auto;
    border-radius: 100%;
    margin-right: .5em;
  }
}
