/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}



@keyframes loader {
  from   {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.loader {
  display: flex;
  justify-content:center;
  align-items: center;


  .loader-icon {
    height: 4em;
    width: 4em;
    border: 4px solid;
    border-radius: 50px;
    border-color: transparent black transparent black;

    animation: loader 2s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;

    .loader-inner {
      height: 2em;
      width: 2em;
      border: 4px solid;
      border-radius: 50px;
      border-color: black transparent black transparent;


      animation: loader 2s linear infinite;
    }
  }
}


.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
